body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__section {
  font-size: 18px;
  box-shadow: 0 3px 3px 3px #c9c5c5;
  width: 80%;
}

.todo__div {
  display: flex;
  flex-direction: column;
}

.todo__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

form {
  border-top: 1px solid #c9c5c5;
  padding: 0 10px;
}

input[type=text] {
  font-size: 15px;
  width: 200px;
  padding: 20px;
  border: none;
}

input[type=text]:focus {
  outline: none;
}

input[type=text]::placeholder {
  font-style: italic;
}

input[type=checkbox] {
  padding: 5px;
}

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  border-top: 1px solid #c9c5c5;
  align-items: center;
  padding: 0 10px;
}

.task__li {
  padding: 0;
  list-style: none;
}

.task__ul {
  list-style-type: none;
  padding: 0;
}

.item__div {
  display: flex;
  gap: 5px;
  padding: 20px 0;
}

.completed {
  text-decoration: line-through;
  justify-content: space-between;
}

.clear__completed {
  font-size: 18px;
  border: none;
  border-top: 1px solid #c9c5c5;
  padding: 10px;
  width: 100%;
}

.todoText {
  border: none;
  padding: 10px;
  font-size: 18px;
}

.todoText:focus {
  outline: none;
}

.deletebtn {
  border: none;
}

.deleteIcon {
  width: 80%;
}

.submitBtn {
  border: none;
}

#todoList {
  padding: 0;
  list-style-type: none;
}
